.table {
    width: 100%;
    border: none;

    td {
        width: 220px;
        border: none;
        text-align: center;

    }

    tr {
        &:nth-child(even){
            background-color: rgba(234, 236, 252, 0.47);
        }
        &:nth-child(1){
             -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 201.47);
        border: none;
        }
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.47);
        
        padding: 6px 0px;
        margin: 10px 0px;

        


    }

}